{% assign contact = site.info | where: "name", "contact.md" | first %}
<div class="row align-items-md-center justify-content-md-center py-5" id="contact">
  <div class="col-auto">
    <nav class="nav">
      {% if contact.email %}
      <a class="nav-link text-muted" aria-label="Email" href="mailto:{{contact.email}}" target="_blank">
        <i aria-hidden="" class="fas fa-envelope fa-3x" title="{{contact.email}}"></i>
      </a>
      {% endif %}
      {% if contact.github %}
      <a class="nav-link text-muted" aria-label="Github" href="https://github.com/{{contact.github}}" target="_blank">
        <i aria-hidden="" class="fab fa-github fa-3x" title="Github"></i>
      </a>
      {% endif %}
      {% if contact.phone %}
      <a class="nav-link text-muted" aria-label="Phone" href="tel:{{contact.phone}}" target="_blank">
        <i aria-hidden="" class="fas fa-phone fa-3x" title="{{contact.phone}}"></i>
      </a>
      {% endif %}
      {% if contact.twitter %}
      <a class="nav-link text-muted" aria-label="Twitter" href="https://twitter.com/{{contact.twitter}}" target="_blank">
        <i aria-hidden="" class="fab fa-twitter fa-3x" title="Twitter"></i>
      </a>
      {% endif %}
      {% if contact.instagram %}
      <a class="nav-link text-muted" aria-label="Instagram" href="https://www.instagram.com/{{contact.instagram}}" target="_blank">
        <i aria-hidden class="fab fa-instagram fa-3x" title="Instragram"></i>
      </a>
      {% endif %}
      {% if contact.facebook %}
      <a class="nav-link text-muted" aria-label="Facebook" href="https://www.facebook.com/{{contact.facebook}}" target="_blank">
        <i aria-hidden class="fab fa-facebook fa-3x" title="Facebook"></i>
      </a>
      {% endif %}
    </nav>
  </div>
</div>
