<footer class="py-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center py-5" id="landing">
      <div class="col-md-7 col-lg-6 col-xl-5">
        <p class="lead">This Portfolio Template was created for the FIT Library's Maker Minds workshop on Github and Github Pages. The repository for this template can be found <a href="https://github.com/fitnycdigitalinitiatives/myPortfolio">here</a>. Please feel free to modify and reuse for your own purposes.</p>
      </div>
    </div>
  </div>
</footer>
