<!doctype html>
<html lang="en">
  {% include head.html %}
  <body data-spy="scroll" data-target="#navbar" data-offset="56" id="top">
    <a class="sr-only sr-only-focusable" href="#main">Skip to main content</a>
    {% include header.html %}
    <main id="main" class="container-fluid">
      {{ content }}
    </main>
    {% include footer.html %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        //Scroll animation and offset
        $('a.scroll-link').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: ($($anchor.attr('href')).offset().top - 56)
            });
            event.preventDefault();
        });
        //Button for page downscroll
        $('#page-down').click(function(){
          if ($('a.scroll-link.active').length) {
            var $links = $('.navbar-nav a.scroll-link');
            var $active = $('a.scroll-link.active');
            var $next = $links.eq($links.index($active) + 1);
            $next.trigger('click');
          } else {
            $('#navbarNav a.scroll-link:first').trigger('click');
          }
        });
        //Disable button if on last page
        $(window).on('activate.bs.scrollspy', function () {
          var count = $('.navbar-nav a.scroll-link').length
          var current = $('.navbar-nav a.scroll-link').index($('a.scroll-link.active'));
          if (current >= (count - 1)) {
            $('#page-down').prop('disabled', true);
          }
          else {
            $('#page-down').prop('disabled', false);
          }
        });
      });
    </script>
  </body>
</html>
